@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Hero section startting */
.hero{
  height: 85vh;
}
@media (min-width: 992px){
  .hero{
    height: 135vh;
  }
  .hero h1{
    line-height: 84px;
  }
}
/* Hero section ending */


/* why us starting  */
/* .whyContainer{
  height: auto ;
}
@media(min-width: 992px) {
  .whyContainer{
    height: 600px;
  }
} */
/* why us ending */
