@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Hero section startting */
.hero{
  height: 85vh;
  padding-top: 60px!important
}
@media (min-width: 992px){
  .hero{
    height: 135vh;
  }
  .hero h1{
    line-height: 84px;
  }

  /* download section starting  */
  .download h1{
    line-height: 84px;
  }
  /* download section ending */
}
/* Hero section ending */

@media  (max-width: 768px) {
  .navbar .mobileView{
    position: absolute;
    text-align: center;
    height: 90vh;
    width: 100%;
    background-color: white;
    top: 80px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction : column;
    justify-content: center;
  }
}


/* why us starting  */
/* .whyContainer{
  height: auto ;
}
@media(min-width: 992px) {
  .whyContainer{
    height: 600px;
  }
} */
/* why us ending */
